.ribbon-wrapper {
  width: 105px;
  height: 108px;
  overflow: hidden;
  position: absolute;
  top: -3px;
  right: -3px;
}

.ribbon {
  text-align: center;
  text-shadow: rgba(255, 255, 255, 0.5) 0px 1px 0px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  position: relative;
  padding: 7px 0;
  left: -3px;
  top: 23px;
  width: 140px;
  background-color: lighten($macaroni-and-cheese, 25%);
  //background-image: -webkit-gradient(linear, left top, left bottom, from(lighten($greenish-teal,30%)), to($greenish-teal));
  //background-image: -webkit-linear-gradient(top, lighten($greenish-teal,30%), $greenish-teal);
  //background-image: -moz-linear-gradient(top, lighten($greenish-teal,30%), $greenish-teal);
  //background-image: -ms-linear-gradient(top, lighten($greenish-teal,30%), $greenish-teal);
  //background-image: -o-linear-gradient(top, lighten($greenish-teal,30%), $greenish-teal);
  color: $greyish-brown;
  -webkit-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.3);
}

.ribbon:before, .ribbon:after {
  content: "";
  border-top: 3px solid darken($macaroni-and-cheese, 10%);
  border-left: 3px solid transparent;
  border-right: 3px solid transparent;
  position: absolute;
  bottom: -3px;
}

.ribbon:before {
  left: 0;
}

.ribbon:after {
  right: 0;
}