.statistic {
  // @include flexbox();
  // @include flex-wrap(wrap);
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  width: 100%;
  &_item {
    @include flexbox();
    @include justify-content(space-between);
    // @include xxs {
    //   @include flex-wrap(wrap);
    // }
    flex-grow: 1;
    @include media(
      (
        min-width: (
          xl: 201px,
        ),
        height: (
          lg: 94px,
        ),
        margin-right: (
          xxs: 3%,
          sm: 2%,
          lg: 0.5%,
        ),
        padding: (
          xxs: 5px 5px,
          md: 5px 15px,
        ),
      )
    );
    .statistic_inner {
      @include flexbox();
      @include align-items(center);
    }
    // &:nth-child(n) {
    //   @include media(
    //     (
    //       margin-right: (
    //         xxs: 0.5%,
    //         lg: 2.5%,
    //       ),
    //     )
    //   );
    // }
    // &:nth-child(3n) {
    //   @include media(
    //     (
    //       margin-right: (
    //         xxs: 0.5%,
    //         lg: 2.5%,
    //       ),
    //     )
    //   );
    // }
    // &:last-child {
    //   @include media(
    //     (
    //       margin-right: (
    //         xxs: 0,
    //         lg: 0,
    //       ),
    //     )
    //   );
    // }
    // & > img {
    //   transform: translateY(25%);
    // }
    & > div:first-child {
      @include media(
        (
          width: (
            xxs: 100%,
            md: 50%,
          ),
        )
      );
    }
    &-title {
      @include xxs {
        font-size: em(12);
      }
      @include md {
        font-size: em(12);
      }
      margin-left: 15.94px;
      font-weight: 500;
      font-size: 13px;
      letter-spacing: 1px;
      color: $greyish-black;
      display: block;
      margin-bottom: 5px;
      // text-transform: uppercase;
      width: 100%;
    }
    &-value {
      @include xxs {
        font-size: em(18);
      }
      @include md {
        font-size: em(18);
      }
      font-size: em(20);
      font-weight: 600;
      color: $greyish-brown;
      margin-left: 15.94px;
      display: block;
      width: 100%;
    }
    .growth {
      @include xxs {
        font-size: em(10);
      }
      @include md {
        font-size: em(12);
      }
      @include media(
        (
          padding-right: (
            xxs: 10px,
            md: 14px,
          ),
        )
      );
      font-weight: 500;
      position: relative;
      &:before {
        @include pseudo();
        right: 0;
        top: 0;
        @extend %fa-icon;
        @extend .fas;
      }
      &.positive {
        color: $greenish-teal;
        &:before {
          content: "\f062";
        }
      }
      &.negative {
        color: $grapefruit;
        &:before {
          content: "\f063";
        }
      }
      &.default {
        color: $warm-grey;
      }
    }
    .value_cover {
      @include flexbox();
      @include flex-wrap(wrap);
      @include align-items(center);
    }
  }
  &.clients {
    .statistic_item {
      @include xxs {
        @include flex-wrap(nowrap);
      }
      @include media(
        (
          width: (
            xxs: 100%,
            sm: 49%,
            md: 31.9%,
          ),
          margin-right: (
            xxs: 0,
            sm: 2%,
            md: 0.6%,
          ),
        )
      );
      // &:last-child {
      //   @include media(
      //     (
      //       margin-right: (
      //         xxs: 0,
      //         md: 0,
      //       ),
      //     )
      //   );
      // }
      // &:nth-child(3n) {
      //   margin-right: 0.6%;
      //   @include media((
      //           margin-right:(md:0.6%)
      //   ));
      // }
      & > div:first-child {
        @include media(
          (
            width: (
              md: initial,
            ),
          )
        );
      }
    }
    .icon {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      margin-right: 20px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      position: relative;
      &:before {
        @include pseudo();
        @include absolute-center();
        @extend %fa-icon;
        @extend .fas;
      }
      &.active {
        background-color: #fdf4ea;
        color: #ff993c;
        &:before {
          content: "\f2f1";
        }
      }
      &.new {
        background-color: #e8f6f3;
        color: #23b899;
        &:before {
          content: "";
          background-image: url(/assets/images/icons/new-icon.svg);
          width: 24px;
          height: 16px;
          background-size: 15px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      &.paused {
        background-color: #fdf4ea;
        color: $macaroni-and-cheese;
        &:before {
          content: "\f04c";
        }
      }
      &.pending {
        background-color: #fdf4ea;
        color: $macaroni-and-cheese;
        &:before {
          content: "\f2f1";
        }
      }
      &.rejected {
        background-color: lighten($grapefruit, 30%);
        color: $grapefruit;
        &:before {
          content: "\f00d";
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .statistic {
    // grid-template-columns: repeat(3, 1fr);
    &_item {
      &:nth-child(3n) {
        @include media(
          (
            margin-right: (
              xxs: 0,
              lg: 0,
            ),
          )
        );
      }
    }
  }
}

.traffic_statisticsData {
  display: flex;
  flex-wrap: wrap;
  margin-left: 20px;
  transition: 0.2s ease-in;
}
.line_download {
  position: absolute;
  right: 50px;
  bottom: 20px;
  &-list, &-reports {
    cursor: pointer;
  }
}
.traffic_item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  margin: 10px 0;
  min-width: 153px;
  height: 40px;
  background: #fafafa;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 4px;
  margin-right: 8px;
  h3 {
    color: $greyish-black;
    font-size: 0.875rem;
    font-weight: 500;
    padding-right: 10px;
    margin-right: 10px;
    margin-left: 10px;
    border-right: 2px solid rgba(68, 68, 68, 0.3);
  }
  .traffic_dot {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50px;
  }
  .traffic_value {
    color: $greyish-brown;
    font-weight: 600;
    font-size: 0.875rem;
  }
}

.stats {
  @include flexbox();
  @include flex-wrap(wrap);
  &.users {
    .statistic_item {
      @include xxs {
        @include flex-wrap(nowrap);
      }
      @include media(
        (
          width: (
            xxs: 100%,
            sm: 49%,
            md: 31.9%,
          ),
          margin-right: (
            xxs: 0,
            sm: 2%,
            md: 0.6%,
          ),
        )
      );
      &:last-child {
        @include media(
          (
            margin-right: (
              xxs: 0,
              md: 0,
            ),
          )
        );
      }
      // &:nth-child(3n) {
      //   margin-right: 0.6%;
      //   @include media((
      //           margin-right:(md:0.6%)
      //   ));
      // }
      & > div:first-child {
        @include media(
          (
            width: (
              md: initial,
            ),
          )
        );
      }
    }
    .icon {
      @include flexbox();
      @include align-items(center);
      @include justify-content(center);
      margin-right: 20px;
      width: 56px;
      height: 56px;
      border-radius: 50%;
      position: relative;
      &:before {
        @include pseudo();
        @include absolute-center();
        @extend %fa-icon;
        @extend .fas;
      }
      &.active {
        background-color: #fdf4ea;
        color: #ff993c;
        &:before {
          content: "\f2f1";
        }
      }
      &.new {
        background-color: #e8f6f3;
        color: #23b899;
        &:before {
          content: "";
          background-image: url(/assets/images/icons/new-icon.svg);
          width: 24px;
          height: 16px;
          background-size: 15px;
          background-position: center center;
          background-repeat: no-repeat;
        }
      }
      &.paused {
        background-color: #fdf4ea;
        color: $macaroni-and-cheese;
        &:before {
          content: "\f04c";
        }
      }
      &.pending {
        background-color: #fdf4ea;
        color: $macaroni-and-cheese;
        &:before {
          content: "\f2f1";
        }
      }
      &.rejected {
        background-color: lighten($grapefruit, 30%);
        color: $grapefruit;
        &:before {
          content: "\f00d";
        }
      }
    }
  }
}
