$steel-50: rgba(137, 142, 151, 0.5);
$warm-grey: #a1a1a1;
$white-50: rgba(235, 235, 235, 0.5);
$cool-grey: #9ca4ad;
$greenish-teal: #0bbd83;
$grey-blue-50: rgba(102, 107, 140, 0.5);
$pinkish-grey: #bababa;
$dark-two: #2f3245;
$dark-three: #252737;
$white-two: #f5f5f5;
$white: #ffffff;
$dark: #242a32;
$grapefruit: #f4263e;
$white-three: #e8e8e8;
$pinkish-grey-two: #bdbdbd;
$greyish-black: #444;
$dark-black: #17191d;
$light-black: #4a5259;
$greyish: #b8b8b8;
$greyish-brown: #222;
$white-30: rgba(216, 216, 216, 0.3);
$dull-orange: #ddac45;
$sea: #3098a3;
$clear-blue: #2954ff;
$lavender-pink: #c88ada;
$lightblue: #6aaaf3;
$faded-orange: #f3906a;
$white-four: #d8d8d8;
$bright-blue: #3e66fb;
$white-five: #eeeeee;
$black: #000000;
$white-six: #e7e7e7;
$aqua-blue: #00c8d7;
$butterscotch: #ffc54c;
$bluey-purple: #673ab7;
$light-sage: #abe985;
$uploaded-bg: #f4f4f4;
$uploaded-fileText: #353ed6;
$uploaded-text: #353ed6;

$main-color: #686869;
$primary-color: #757779;
$light-gray: #c0c1c2;
$dark-gray: rgba(68, 68, 68, 0.5);
$highlight-color: #0faaef;
$checkbox-input: 100;
$error-color: $grapefruit;
$progress-bar: 10000;
$progress-bar_Bgcolor: #91c269;

$pale-blue: #e1eefd;

$macaroni-and-cheese: #ff993c;

// $font-family: 'Rubik', sans-serif;
$font-family: "Montserrat";
$border-radius-btn: 2px;
$border-radius: 4px;

$dropdown-menu-opened: 9;
//menu icon variables
$icon-width: 14px;
$icon-height: 16px;

$bar-width: 3px;
$bar2-position: $bar-width * 2;
$bar3-position: $bar-width * 4;

//rebid theme colors
$body-color: #f8f9fb;
$primary-red: #f4263e;
$primary-red-hover: #e22238;
$primary-white: #ffffff;
$primary-black: #000000;
$primary-white-2: whitesmoke;
$filter-button: #d7e0ff;
$cancel-button: #444444;

$neutral-700: #1f2559;
$neutral-400: #3e66fb;
$neutral-500: #62668a;
$neutral-300: #bebfcc;
$neutral-200: #e7e8f1;
$neutral-100: rgba(68, 68, 68, 0.5);
$neutral-50: #f1f3f7;
$announcement: #ffd336;

// reports table variables

$table-header: #fbfbfb;

// checkbox border

$checkbox-border: #d5d6d7;
